*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#table_heading {
    font-size: 2rem;
    color: blue;
    text-transform: capitalize;
    padding: 5px;
}

table, th, td{
    border: 1px solid rgb(6, 6, 14);
    padding: 5px;
    margin: 5px;
}
.student_name, .sn, .total_score {
    text-align: center;
    font-weight: 900;
    font-size: large;
}
.subject-score {
    text-align: center;
    font-weight: 550;
}